<div class="flex h-screen">
    <!-- Sidebar -->
    <div class="w-1/4 bg-gray-200 p-4">
      <!-- List of people -->
      <div>
        <!-- Sample contact items -->
        <div
          *ngFor="let contact of contacts; trackBy: trackById"
          (click)="selectConversationId(contact.id)"
          class="flex items-center space-x-3 py-2 cursor-pointer hover:bg-gray-300"
          [class.bg-blue-200]="selectedContactId === contact.id"
        >
          <div class="shrink-0 w-10 h-10 bg-gray-400 rounded-full"></div> <!-- Profile picture -->
          <div>
            <h2 class="font-semibold">
              <span *ngIf="contact.blocked_me">🚫</span> {{ contact.name }}
            </h2>
            <p class="text-gray-600">{{ contact.last_message }}</p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Main section -->
    <div class="flex-1 bg-gray-100 p-4">
      <!-- Conversation header -->
      <div class="bg-white p-4 rounded-lg mb-4">
        <!-- Contact's name and info -->
        <div class="flex items-center mb-2">
          <div class="w-10 h-10 bg-gray-400 rounded-full"></div> <!-- Profile picture -->
          <h1 class="text-lg font-semibold ml-2">
            <app-status [status]="contacts[selectedContactId - 1].status" />
            {{ contacts[selectedContactId - 1].name }}
          </h1>
        </div>
        <!-- Last seen/active status -->
        <p class="text-sm text-gray-500">Last seen recently</p>
      </div>
  
      <!-- Conversation messages -->
      <div
        class="overflow-y-auto"
        style="max-height: calc(100vh - 200px);"
      >
        <!-- Sample message history -->
        <ng-container *ngIf="selectedConversation?.messages?.length; else emptyMessages">
          <div
            *ngFor="let message of selectedConversation?.messages; trackBy: trackById"
            class="flex mb-4"
            [ngClass]="message.sender_id === null ? 'justify-end' : 'justify-start'"
          >
            <div
              *ngIf="message.sender_id === null"
              class="bg-blue-500 text-white p-3 rounded-lg"
            >{{ message.text }}</div> <!-- Message -->
            <div
              *ngIf="message.sender_id !== null"
              class="bg-gray-300 text-gray-800 p-3 rounded-lg"
            >{{ message.text }}</div> <!-- Incoming Message -->
            <div class="ml-2 text-gray-600">12:34 PM</div> <!-- Timestamp -->
          </div>
        </ng-container>
        <ng-template #emptyMessages>
          <div class="text-center mb-4 mt-4 text-lg">
            No messages.
          </div>
        </ng-template>
      </div>
  
      <!-- Message input -->
      <form class="flex mt-4">
        <input
          [(ngModel)]="messageText"
          name="messageText"
          type="text"
          class="flex-1 border rounded-l-lg p-2"
          placeholder="Type a message..."
          [disabled]="!!contacts[selectedContactId - 1].blocked_me"
        >
        <button
          (click)="sendMessage()"
          type="submit"
          class="bg-blue-500 text-white px-4 rounded-r-lg"
          [disabled]="!!contacts[selectedContactId - 1].blocked_me"
        >Send</button>
      </form>
    </div>
  </div>
  